@font-face{
    font-family: "Numeros";
    src: url('/assets/fonts/numeros.otf');
}
@font-face{
    font-family: "Titulos";
    src: url('/assets/fonts/Anurati-Regular.otf');
}
@font-face{
    font-family: "Texto";
    src: url('/assets/fonts/Coves.otf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  overflow-x: hidden;
}
.iconos{
  font-size: 2em;
  cursor: pointer;
  color: #ECECEC;
}
h1, h2, h3, h4, h5, h6{
  color: #4c4a4a;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.titulos{
  font-family: 'Titulos';
}
.texto{
  font-family: 'Texto';
}
.numeros{
  font-family: 'Numeros';
}
.uppercase{
  text-transform: uppercase;
}
.input-container{
  position: relative;
  width: 350px;
  margin-bottom: 30px;
}
input{
  position: relative;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 20px;
  background-color: transparent;
  border-bottom: 2px solid rgba(0,0,0,.05);
  transition: all .3s;
  color: #8FECC8;
}
.input-container i{
  position: absolute;
  right: 0;
  top: 0;
}
.icon-error{
  color: #FF395E;
}
.icon-bien{
  color: #8FECC8;
}
input::placeholder{
  color: #8FECC8;
}
input:focus{
  outline: none;
  border-bottom: 2px solid #8FECC8;
}
input[type="button"]{
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.05);
  color: #04775e;
  font-size: 1.2em;
  cursor: pointer;
}
input[type="button"]:hover{
  box-shadow: 0px 5px 20px rgba(0,0,0,.1);
}
.alerts{
  position: absolute;
  width: 400px;
  height: 270px;
  left: calc(50vw - 200px);
  top: calc(50vh - 150px);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.alerts__main{
  position: relative;
  width: 300px;
  height: 250px;
  margin-top: 25px;
  margin-left: 50px;
  text-align: center;
  font-size: 1.8em;
}
.alerts__main h4{
  margin: 20px auto;
}
.alerts__main i{
  color: #8FECC8;
  font-size: 3em;
}
.section{
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  padding-top: 70px;
}
.container{
  width: 80vw;
  height: 90vh;
  margin-left: 10vw;
  position: relative;
}
.box-artist{
  position: relative;
  height: 250px;
  text-align: center;
}
.box-artist__header{
  position: relative;
  z-index: 2;
  width: 400px;
  margin-left: 25px;
  height: 170px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0,0,0,.05);
  display: flex;
}
.box-artist__footer{
  position: absolute;
  width: 380px;
  height: 80px;
  left: 35px;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,.05);
  display: flex;
  padding-top: 22px;
}
.box-album-container{
  position: relative;
  height: 400px;
}
.box-album-container__main{
  width: 250px;
  margin: 0 auto;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.05);
  padding: 20px;
}
.box-album-container__main--image{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0,0,0,.2);
  overflow: hidden;
}
.box-album-container__main--image img{
  width: 100%;
}
.box-album-container__main--details{
  position: relative;
  width: 250px;
  height: 200px;
  padding-top: 20px;
}
.box-album-container__main--details i{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  left: 0px;
  bottom: 40px;
  box-shadow: 0px 0px 40px rgba(0,0,0,.2);
}
.box-album-container__main--details i img{
  width: 100%;
}
